<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="../static/header.css">
    <link rel="stylesheet" type="text/css" href="../static/reserve.css">
    <link rel="stylesheet" type="text/css" href="../static/graph.css">
</head>

<body>

<div id="header">
    <div id="top_color_bar"></div>

    <div id="header_tool_bar">
        <div class="container">
            <div id="logo">
                <img id="logo_img" src="../static/public/images/logo_header.png" />
            </div>
            <form id="logo_form" method="post" action="{{ url_for('go_reserved') }}">
                <input type="hidden" name="uid" value='{{ uid }}'>
                <p id="logo_txt" onclick="document.getElementById('logo_form').submit()">예약 시스템</p>
            </form>

            <div>

            </div>

            <form id="mypage_form" method="post" action="{{ url_for('go_mypage') }}">
                <input type="hidden" name="hiddenvalue" value='go_mypage'>
                <input type="hidden" name="uid" value='{{ uid }}'>
                <p id="mypage_txt" onclick="document.getElementById('mypage_form').submit()">My Page</p>
            </form>

        </div>
    </div>
</div>

<div id="schedule">
    <div id="background"></div>

    <div id="schedule_content" class="content">
        {% if uid=="" %}
            <p class="error"><strong>빼에엑 돌아가</strong>
        {% else %}
            <div id="day">
                <a id="txt_today"> 05.27(토) </a>
                    <a class="button--left" onclick="move(-1)"></a>
                    <a class="button--right" onclick="move(1)"></a>
            </div>o
            <div id="room">
                <a id="comment_room"> 지금 보고 있는 화면은 0번방 예약 화면입니다 바꿀려면 "방 바꾸기"를 눌러 </a>
                <br>
                <a onclick="change_room()" style="
                    font-weight: 800;
                    font-size: 18px;
                    padding: 12px;">방 바꾸기 </a>
                {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
            </div>

            <div id="show_reserve">
                <h2>오늘의 예약 시간</h2>
                <div id="show_reserve_default_time">
                    <h3 id="left_default_time">08:00</h3>
                    <h3 id="right_default_time">22:00</h3>
                </div>
                <div id="graph_reserve"></div>
            </div>
            <div id="reserve">
                <div id="circular_graph">
                    <div id="graph_box" class="box">
                        <div id="top_graph">
                            <h3>15:00</h3>
                        </div>
                        <div id="horizontal_graph">
                            <div id="left_side_graph">
                                <h3>08:00</h3>
                            </div>
                            <div id="content_graph">

                            </div>
                            <div id="right_side_graph">
                                <h3>22:00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="reserve_input" method="post" action={{ url_for('btn_reserve') }}>
                    <input type="hidden" name="uid" value='{{ uid }}'>

                    <input type="hidden" id="reserve_form_room" name="reserve_form_room" value="">
                    <input type="hidden" id="reserve_form_day" name="reserve_form_day" value="">

                    <div id="wrapper_reserve_form" class="box">
                        <p><label for="start">시작시간</label></p>
                        <select class="selector_border" id="start" name="start" required>
                            <option value="0">08:00</option>
                            <option value="1">08:30</option>
                            <option value="2">09:00</option>
                            <option value="3">09:30</option>
                            <option value="4">10:00</option>
                            <option value="5">10:30</option>
                            <option value="6">11:00</option>
                            <option value="7">11:30</option>
                            <option value="8">12:00</option>
                            <option value="9">12:30</option>
                            <option value="10">13:00</option>
                            <option value="11">13:30</option>
                            <option value="12">14:00</option>
                            <option value="13">14:30</option>
                            <option value="14">15:00</option>
                            <option value="15">15:30</option>
                            <option value="16">16:00</option>
                            <option value="17">16:30</option>
                            <option value="18">17:00</option>
                            <option value="19">17:30</option>
                            <option value="20">18:00</option>
                            <option value="21">18:30</option>
                            <option value="22">19:00</option>
                            <option value="23">19:30</option>
                            <option value="24">20:00</option>
                            <option value="25">20:30</option>
                            <option value="26">21:00</option>
                            <option value="27">21:30</option>
                        </select>
                        <br>
                        <p><label for="time">사용시간</label></p>
                        <select class="selector_border" id="time" name="time">
                            <option value="30">30 min</option>
                            <option value="60">60 min</option>
                            <option value="90">90 min</option>
                            <option value="120">120 min</option>
                        </select>
                        <br>
                        <br>
                        <input class="btn btn-blue" type="submit" value="Reserve">
                    </div>
                </form>
            </div>

        {% endif %}
    </div>
</div>

<script>

    var i_day = 0;
    var i_room = 0;

    // 0 오늘 1 내일 2 모래
    var arr_day0_room0 = {{ arr[0]|safe }};
    var arr_day1_room0 = {{ arr[1]|safe }};
    var arr_day2_room0 = {{ arr[2]|safe }};
    var arr_day0_room1 = {{ arr[3]|safe }};
    var arr_day1_room1 = {{ arr[4]|safe }};
    var arr_day2_room1 = {{ arr[5]|safe }};

    var year = {{ m_year }};
    var month = {{ m_month }};
    var day = {{ m_day }};

    var my_date = new Date(year + "-" + month + "-" + day);

    var move = function(delta) {
        i_day += delta;
        if (i_day < 0 || i_day > 2) {
            i_day -= delta;

            alert("거긴 못가!");
        } else {
            my_date.setDate(my_date.getDate() + delta);
            document.getElementById("txt_today").innerHTML = (my_date.getMonth() + 1) + "." + my_date.getDate();
            document.getElementById("reserve_form_day").value = i_day;
            show_graph_day_room();
        }
    };

    var change_room = function(){
        if (i_room === 0) i_room = 1;
        else i_room = 0;
        document.getElementById("reserve_form_room").value = i_room;
        document.getElementById("comment_room").innerHTML =
            "지금 보고 있는 화면은 " + i_room + "번방 예약 화면입니다 바꿀려면 \"방 바꾸기\"를 눌러";
        show_graph_day_room();
    };

    var show_graph_day_room = function () {
        if (i_day === 0) {
            if (i_room === 0) {
                show_graph(arr_day0_room0);
            } else if (i_room === 1) {
                show_graph(arr_day0_room1);
            }
        } else if (i_day === 1) {
            if (i_room === 0) {
                show_graph(arr_day1_room0);
            } else if (i_room === 1) {
                show_graph(arr_day1_room1);
            }
        } else if (i_day === 2) {
            if (i_room === 0) {
                show_graph(arr_day2_room0);
            } else if (i_room === 1) {
                show_graph(arr_day2_room1);
            }
        }
    };

    var show_graph = function(my_arr) {

        var eachColor = [];
        var colorArr = [
                "#F7567C",
                "#0B5563",
                "#E5D0E3",
                "#84D2F6",
                "#E0B0D5",
                "#DDFFF7",
                "#FFA69E",
                "#AA4465",
                "#84D2F6",
                "#462255",

                "#EAC5D8",
                "#DBD8F0",
                "#E2FADB",
                "#84D2F6",
                "#DBEFBC",
                "#963484",
                "#3066BE",
                "#28C2FF",
                "#84D2F6",
                "#2AF5FF",

                "#FCFCFC",
                "#E7E5E5",
                "#FFFAE3",
                "#84D2F6",
                "#5D576B",
                "#BEB8EB",
                "#5299D3",
                "#0B5563",
        ];


        var cnt = -1;
        var past = "";


        for (var iSchedule = 0; iSchedule < 28; iSchedule++) {
            if (my_arr[iSchedule] !== " ") {
                // arr중에 겹쳤다면 cnt는 안더해줘도 되고 컬러만 바꿔줌
                if (past === my_arr[iSchedule]) {

                } else {
                    cnt++;
                }
                // list iSchedule 번째를 color 로 색칠
                eachColor[iSchedule] = colorArr[cnt];

                past = my_arr[iSchedule];
            } else {
                eachColor[iSchedule] = "#FFFFFF";
            }
        }

        var graph_innerHTML = "";
        graph_innerHTML += "<ul class=\"chart-skills\">";
        for (var i = 0; i < 28; i++) {
            if (my_arr[i] === " ") {
                graph_innerHTML +=
                    "<li title=\""
                    + (Math.floor(i/2)+8) + ":" + Math.floor(i%2)*30 + " ~ "
                    + (Math.floor((i+1)/2)+8) + ":" + (Math.floor(i+1)%2)*30 + "\""
                    + "><span></span></li>";
                //style="border-color: #00ff00"
            } else {
                graph_innerHTML +=
                    "<li title=\""
                    + (Math.floor(i/2)+8) + ":" + Math.floor(i%2)*30 + " ~ "
                    + (Math.floor((i+1)/2)+8) + ":" + (Math.floor(i+1)%2)*30 + "\""
                    + "style=\"border-color: " + eachColor[i] + "\""
                    + "><span></span></li>";

            }
        }

        document.getElementById("content_graph").innerHTML = graph_innerHTML;
    };
    // 초기화 할꺼
    document.getElementById("txt_today").innerHTML = (my_date.getMonth() + 1) + "." + my_date.getDate();
    document.getElementById("reserve_form_day").value = i_day;
    document.getElementById("reserve_form_room").value = i_room;
    show_graph(arr_day0_room0);

</script>


</body>
</html>
