<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/header.css">
    <link rel="stylesheet" type="text/css" href="../static/sign_in_up_t2.css">
</head>

<body>

<div id="header">
    <div id="top_color_bar"></div>

    <div id="header_tool_bar">
        <div class="container">
            <div id="logo">
                <img id="logo_img" src="../static/public/images/logo_header.png" />
            </div>
            <p id="logo_txt">예약 시스템</p>

            <form id="signup_form" method="post" action="{{ url_for('go_signup') }}">
                <input type="hidden" name="hiddenvalue" value='go_signup'>
                <p id="signup_txt" onclick="document.getElementById('signup_form').submit()">Sign Up</p>
            </form>

        </div>
    </div>
</div>

    <div id="sign_in">
        <div id="background"/>
        {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
        <div id="signup_content" class="content">
            <div id="wrapper_login_form" class="box">

                <form id="login_form" method="post" action="{{ url_for('signin') }}">
                    <a>예약 시스템에 로그인합니다</a>
                    <input type="hidden" name="hiddenvalue" value='signin'>
                    <br>
                    <label for="uid">ID</label>
                    <input class="input_border" type="text" name="uid" id="uid"><br>
                    <label for="pw">Password</label>
                    <input class="input_border" type="password" name="pw"id="pw"><br><br>
                    <input class="btn btn-blue" type="submit" value="Sign In">
                </form>
            </div>
        </div>
    </div>

</body>
</html>